@model ELNET_FinalsProject.ViewModels.TopUpViewModel
<style>
    #topUpModal {
        display: none;
    }
</style>
<div class="modal fade" id="topUpModal" tabindex="-1" aria-labelledby="topUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="topUpModalLabel">Top Up Balance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="ProcessTopUp" method="post">
                <div class="modal-body">
                    <label class="form-label">Amount to Add</label>
                    <input asp-for="Amount" class="form-control" placeholder="₱0.00" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>